extends layout
block content
body
    h1 About Us
    p Our data is sourced from a variety of reputable organizations, including the United Nations, the World Bank, and national statistical agencies. We strive to ensure that our data is accurate, up-to-date, and accessible to anyone who wants to use it.