extends layout.pug 

block head
    link(rel="stylesheet", href="public/cities.css")

block content
    h2 Cities 
    table
        thead 
            th.Country Country
            th.city Cities
            th.number population
        tbody
            for row in rows
                tr
                    td #{row.CountryCode}
                    td #{row.Name}
                    td #{row.Population}
