extends layout
block content
  h1 City Information for: #{city.Name}
  p The ID for the city is: #{city.ID}
  p The Country Code for the city is: #{city.CountryCode}
  p The District for the city is: #{city.District}
