extends layout
block content
  h1 welcome to he population display website
  p he population display website is designed to provide users with an easy-to-use platform for exploring population data from around the world. Our goal is to make it simple for anyone to access and analyze population statistics, whether they are students, researchers, or just curious individuals.Using our website, you can access data on a wide range of population-related topics, including population growth.
  h2 Please select one of the options above to browser
