doctype html 
html 
    head 
        link(rel='stylesheet', href='/styles.css')
        title Header
        block head
    body
    header
      include nav
    main
      block content
    footer
      p &copy; 2023 Population Data Website
