doctype html 
html 
    head 
        link(rel='stylesheet', href='/styles.css')
        title Header
        block head
    body
    header
       .layout
            .layout-nav
                include mixins/nav
                // Assuming you're using Express.js, and 'req' is the request object
                +navigation()

    main
      block content
    footer
      p &copy; 2023 Population Data Website
